@import "../../assets/scss/common";

.app {
    height: 100%;
    background-color: $primary-background;

    div.header {
        display: flex;
        align-items: center;
        background-color: $black;
        height: 50px;
        color: $primary-text;

        img {
            padding: 5px;
            width: 55px;
        }

        h1 {
            margin: 0 0 0 5px;
            color: $primary-text;
        }
    }

    div.content {
        padding: 20px;

        .list-container {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
    }
}